<Configuration status="warn">
    <Properties>
        <!-- Log Layout Hours:Minutes:Seconds.Milliseconds (Padding) Message -->
        <Property name="layout">%d{HH:mm:ss.SSS }%-6p%m%n</Property>
    </Properties>
    <Appenders>

        <Async name="asyncConsole">
            <AppenderRef ref="console"/>
        </Async>
        <Async name="asyncFileAppender">
            <AppenderRef ref="FileAppender"/>
        </Async>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="${layout}"/>
        </Console>
        <RollingFile name="FileAppender"
                     fileName="ElevatorGUI-Logs/ElevatorGUI.log"
                     filePattern="ElevatorGUI-Logs/ElevatorGUI-%d{yyyy-MM-dd-HH-mm-ss}.log">
            <PatternLayout pattern="${layout}"/>
            <Policies>
                <OnStartupTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="ElevatorGUI-Logs">
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="commands" level="info" additivity="false">
            <AppenderRef ref="asyncConsole"/>
            <AppenderRef ref="asyncFileAppender"/>
        </Logger>

        <Root level="error" additivity="false">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>