<Configuration status="warn">
    <Properties>
        <!-- Log Layout Hours:Minutes:Seconds.Milliseconds (Padding) Message -->
        <Property name="layout">%d{HH:mm:ss.SSS }%-6p%m</Property>
    </Properties>
    <Appenders>

        <Async name="asyncConsole">
            <AppenderRef ref="console"/>
        </Async>
        <Async name="asyncRollingFile">
            <AppenderRef ref="RollingFile"/>
        </Async>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="${layout}"/>
        </Console>
        <RollingFile name="RollingFile" fileName="ElevatorGUI-Logs/ElevatorGUI-${date:yyyy-MM-dd-HH-mm-ss}.log"
                     filePattern="logs/app-%d{yyyy-MM-dd-HH-mm-ss}.log">
            <PatternLayout pattern="${layout}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>


            <DefaultRolloverStrategy max="10">
                <Delete basePath="logs">
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Logger name="commands" level="info" additivity="false">
            <AppenderRef ref="asyncConsole"/>
            <AppenderRef ref="asyncRollingFile"/>
        </Logger>
        >
        <Root level="error" additivity="false">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>